<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Tab is declared by Panth_Core as `panth` with label "🚀 Panth Extensions" -->
        <section id="panth_disable_wc" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Disable Wishlist &amp; Compare</label>
            <tab>panth</tab>
            <resource>Panth_DisableWishlistCompare::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Master switch. If No, this module does nothing and stock Wishlist/Compare behave normally.</comment>
                </field>
                <field id="disable_wishlist" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hides every wishlist link, icon, button and sidebar on the frontend.</comment>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="disable_compare" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hides every compare link, icon, button and sidebar on the frontend.</comment>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="block_routes" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Direct URL Access</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Return 404 when anyone tries to hit /wishlist/* or /catalog/product_compare/* directly. Recommended.</comment>
                    <depends><field id="enabled">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
